@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap');

/* PREREQUISITES */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #e9bcb7;
    background-image: -o-linear-gradient(135deg, #e9bcb7 0%, #29524a 74%);
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    font-family: Roboto, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
}


/* PAGE TITLE AND BACK BUTTON */

.title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 12px 20px;
    margin-bottom: 15px;
}

h2 {
    margin-left: 20px;
    font-weight: 400;
    font-size: 130%;
}

.material-icons.button--back {
    font-size: 104%;
    cursor: pointer;
}


/* HEADER */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
}

.fixed_header {
    position: fixed;
    top: 0;
    max-width: 700px;
    width: 100%;
}


/* DATE NAV */

.date-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 8px 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.date-navigation span {
    font-size: 100%;
    cursor: pointer;
}


/* MAIN LAYOUT */

h3 {
    font-size: 95%;
    margin: 5px 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
}

.main-layout {
    background: white;
    max-width: 700px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 1px;
    min-height: 100vh;
}


/* FILTERS */

.dropdowns {
    margin: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dropdowns select {
    padding: 7px 0;
    padding-left: 5px;
    border: 1px solid rgb(192, 192, 192);
    background: white;
    border-radius: 4px;
    width: 30%;
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.search-icon {
    position: relative;
    left: -40px;
}

#textbox-hospital {
    padding: 8px 0;
    padding-left: 5px;
    border: 1px solid rgb(192, 192, 192);
    background: white;
    border-radius: 4px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.textboxes {
    margin: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% - 15px);
}


/* CARD */

.card {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}


/* CARD Child Divs */

.center-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: white;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 85%;
    line-height: 140%;
}

.availability-info {
    margin-left: auto;
    max-width: 80px;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* Availability */

.availability-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.availability-text {
    -ms-flex-item-align: center;
    align-self: center;
    color: white;
    font-size: 90%;
}

.availability-box.grey-background {
    background: rgb(157, 157, 157);
}

.availability-box.yellow-background {
    background: rgb(221, 169, 0);
    border-bottom-right-radius: 0;
}

.availability-box.green-background {
    background: rgb(139, 194, 73);
    border-bottom-right-radius: 0;
}

.booking-link {
    font-size: 80%;
    text-align: center;
    color: #fff;
    padding: 7px 0;
}

.booking-link.yellow-background {
    background: rgb(173, 133, 0);
    border-bottom-right-radius: 5px;
}

.booking-link.green-background {
    background: rgb(110, 153, 58);
    border-bottom-right-radius: 5px;
}


/* CENTER INFO */

.center-name {
    font-weight: 600;
}

.min-age {
    margin-top: 10px;
    font-size: 90%;
    border: 1px solid rgb(192, 192, 192);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px 3px;
    border-radius: 5px;
}

.vaccine-name {
    margin-top: 10px;
    color: rgb(44, 44, 44);
}


/* ADDRESS */

.address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 93%;
}

.center-block-name {
    margin-right: 5px;
}


/*No slots*/

.no-slots-text {
    height: 100%;
}

.no-slots-container {
    margin-bottom: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(168, 168, 168);
    color: rgb(78, 78, 78);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    font-size: 150%;
}


/* UL */

#appointments {
    margin-bottom: auto;
}